name: DOX CLI - Configuration Test

on:
  push:
#    branches: [main]

env:
  DEBUG_MODE: ${{ vars.DEBUG_MODE }}

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      # Step 0: Checkout repo to access files
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 1: Run the installation script
      - name: Install DOX CLI
        run: |
          bash bin/install.sh

      # Step 2: Configure with local files for preview test
      - name: Configure with local files for preview test
        run: |
          rm -rf "$HOME/.dox/*"
          cp -r bin lib customize "$HOME/.dox/"

          echo "preview-${{ github.job }}" > "$HOME/.dox/version.txt"
          echo "$DOX_USER_BIN" >> $GITHUB_PATH

      # Step 3: Verify the installation
      - name: Verify DOX CLI installation
        run: |
          dox --version

      # Step 4: Run DOX configure command
      - name: dox build
        run: |
          dox config -f test/tools.yaml