name: DOX CLI - Configuration Test

on:
  push:
#    branches: [main]

env:
  DEBUG_MODE: ${{ vars.DEBUG_MODE }}

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install DOX CLI
        run: bash install.sh

      - name: Configure with local files for preview test
        run: |
          rm -rf "$HOME/.dox/*"          
          cp -r bin lib customize "$HOME/.dox/"
          echo "preview-${{ github.job }}-${{ github.sha }}" > "$HOME/.dox/version.txt"
          echo "$DOX_USER_BIN" >> $GITHUB_PATH
          
      - name: Verify DOX CLI installation
        run: dox --version

      - name: dox build
        run: dox config -f test/tools.yaml